@model Carworld.Models.CarModel

@{
    ViewData["Title"] = "CarDetails";
}

<h1>Car Details</h1>

<div>
    <hr />
    <img src="@("/Images/"+Model.Id+".jpg")" style="width:500px">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horsepower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horsepower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Torque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Torque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acceleration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acceleration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topspeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topspeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MadeByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MadeByUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayFuel)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="SelectedCar" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a> | </a>
    <a asp-controller="SelectedCar" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a> | </a>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
