@model IEnumerable<CarModel>

<script>
    window.onload = function () {
        switch (@ViewBag.Filter) {
            case 0:
                document.getElementById("radioBrand").checked = true;
                break;
            case 1:
                document.getElementById("radioPrice").checked = true;
                break;
            case 2:
                document.getElementById("radioHorsepower").checked = true;
                break;
            case 3:
                document.getElementById("radioYear").checked = true;
                break;
            default:
                document.getElementById("radioBrand").checked = true;
                break;
        }
    };
</script>

<div class="text-center">
    <h1 class="display-4">Cars</h1>
    <form asp-controller="Home" asp-action="Index">
        <input type="text" name="search" placeholder="Search"/>
        <input type="submit" name="search" value="Search"/>
    </form>
    <hr />
    <div class="filterContainer">
        <form>
            <p class="text-body">Sort:</p>
            <input type="radio" value="Brand" name="filter" id="radioBrand" onclick="document.location='/Index?selectedSortMethod=0'" }>
            <label>Brand (A-Z)</label><br>
            <input type="radio" value="Price" name="filter" id="radioPrice" onclick="document.location='/Index?selectedSortMethod=1'">
            <label>Price</label><br>
            <input type="radio" value="Horsepower" name="filter" id="radioHorsepower" onclick="document.location='/Index?selectedSortMethod=2'">
            <label>Horsepower</label><br>
            <input type="radio" value="Year" name="filter" id="radioYear" onclick="document.location='/Index?selectedSortMethod=3'">
            <label>Year</label><br>
        </form>
    </div>
    <div class="carContainer">
        @foreach (var car in Model)
        {
            <div class="card">
                <div class="imageCard row align-content-center">
                    <img src="@("/Images/"+car.Id+".jpg")" alt=@car.Brand style="width:100%">
                </div>
                <h1>@(car.Brand + " " + car.Model)</h1>
                <h5>€@car.Price</h5>
                <a class="cardText">Year: @car.Year</a>
                <a class="cardText">Topspeed: @car.Topspeed</a>
                <a class="cardText">Acceleration: @car.Acceleration</a>
                <a class="cardText">Horsepower: @car.Horsepower</a>
                <a class="cardText">Torque: @car.Torque</a>
                <a asp-controller="Car" asp-action="Details" asp-route-carId="@car.Id" class="btn btn-outline-secondary mt-auto">Read More</a>
            </div>
        }
    </div>
</div>


