@model Carworld.Models.CarModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarModel</h4>
<hr />

@if (TempData.ContainsKey("Success"))
{
    <div class="alert-success" role="alert">@TempData["Success"]</div>
}
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                @*<input asp-for="Brand" class="form-control" />*@
                <select asp-for="Brand" class="form-control">
                    @foreach (BrandModel brand in ViewBag.Brands)
                    {
                        <option value="@brand.Name">@brand.Name</option>
                    }
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horsepower" class="control-label"></label>
                <input asp-for="Horsepower" class="form-control" />
                <span asp-validation-for="Horsepower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Torque" class="control-label"></label>
                <input asp-for="Torque" class="form-control" />
                <span asp-validation-for="Torque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acceleration" class="control-label"></label>
                <input asp-for="Acceleration" class="form-control" />
                <span asp-validation-for="Acceleration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topspeed" class="control-label"></label>
                <input asp-for="Topspeed" class="form-control" />
                <span asp-validation-for="Topspeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarClass" class="control-label"></label>
                <select asp-for="CarClass" class="form-control">
                    @foreach (CarClassModel carClass in ViewBag.CarClasses)
                    {
                        <option value="@carClass.Name">@carClass.Name</option>
                    }
                </select>
                <span asp-validation-for="CarClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label"></label>
                <select asp-for="Fuel" class="form-control">
                    @foreach (FuelModel fuel in ViewBag.Fuels)
                    {
                        <option value="@fuel.Name">@fuel.Name</option>
                    }
                </select>
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelConsumption" class="control-label"></label>
                <input asp-for="FuelConsumption" class="form-control" />
                <span asp-validation-for="FuelConsumption" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="MadeByUser" class="control-label"></label>
                    <input asp-for="MadeByUser" class="form-control" />
                    <span asp-validation-for="MadeByUser" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="DisplayFuel" class="control-label"></label>
                    <input asp-for="DisplayFuel" class="form-control" />
                    <span asp-validation-for="DisplayFuel" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

