@model IEnumerable<CarModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="carContainer">
        @foreach (var car in Model)
        {
        <div class="card">
            <div class="imageCard row align-content-center">
                <img src="@("/Images/"+car.Id+".jpg")" alt=@car.Brand style="width:100%">
            </div>
            <h1>@(car.Brand + " " + car.Model)</h1>
                <h5>€@car.Price</h5>
                <a class="cardText">Year: @car.Year</a>
                <a class="cardText">Topspeed: @car.Topspeed</a>
                <a class="cardText">Acceleration: @car.Acceleration</a>
                <a class="cardText">Horsepower: @car.Horsepower</a>
                <a class="cardText">Torque: @car.Torque</a>
            <a asp-controller="Home" asp-action="CarDetails" asp-route-id="@car.Id" class="btn btn-outline-secondary">Read More</a>
        </div>
        }
    </div>
</div>


